{
    servers {
        protocols h1 h2
    }
}
tsumevault.duckdns.org {
    route {
        handle_path /player/* {
            root * /opt/tsumevault/player

            @cors_preflight {
                method OPTIONS
            }
            handle @cors_preflight {
                header Access-Control-Allow-Origin "*"
                header Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
                header Access-Control-Allow-Headers "Range, Content-Type"
                header Access-Control-Max-Age "86400"
                respond 204
            }

            header Access-Control-Allow-Origin "*"
            header Access-Control-Expose-Headers "Content-Length, Content-Range, Accept-Ranges"
            file_server
        }
        reverse_proxy localhost:3002
    }
}
